<% include ./Partial/header %>

<div class="container">
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Size</th>
            <th>Featured</th>
         </tr>
      </thead>
      <tbody>
         <% rooms.forEach( room =>{ %>
         <tr>
            <td scope="row"><%= room.name %></td>
            <td><%= room.type %></td>
            <td><%= room.price %></td>
            <td><%= room.size %></td>
            <td><%= room.featured ? 'Yes' : "No" %></td>
            <% if(currentUser) { %>
            <td>
               <a href='room/<%=room._id%>'><i class="far fa-edit"></i></a>
               <a href='room/<%=room._id%>?_method=DELETE'><i class="fas fa-trash"></i></a>
            </td>
            <% } %>
         </tr>
         <% }) %>
      </tbody>
   </table>
</div>

<% include ./Partial/footer %>